<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.ApplicationName </title>


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstraptheme")
    @Styles.Render("~/Content/fontawesome")
    @*<link href="~/Assets/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/css/style.css" rel="stylesheet" />*@

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        @*<div class="navbar navbar-inverse navbar-fixed-top">*@
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" >
                        <img alt="Brand" src="~/Content/Images/guizzisinfondo.png" width="30px" height="30px" />
                    </a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Seguridad Residencial", "Index", "Home", new { Area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="navbar-collapse collapse">
                    @if (Request.IsAuthenticated)
                    {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Usuarios", "Index", "Users", new { Area = "Administration" }, new { })</li>
                        <li>@Html.ActionLink("Roles", "Index", "Roles", new { Area = "Administration" }, new { })</li>
                    </ul>
                    }
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        @*</div>*@
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Project created by </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/enums")
    @*<script src="~/Assets/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/Assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/enums.js"></script>*@
    @RenderSection("scripts", required: false)
</body>
</html>
