<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.ApplicationName_Title </title>


    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstraptheme")
    @Styles.Render("~/Content/fontawesome")

</head>
<body>
    @Html.Partial("_Menu", new MenuByPermissions())
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Project created by </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/enums")
    @Scripts.Render("~/bundles/menu")
    @Scripts.Render("~/bundles/common")
    <script src="~/MVCGridHandler.axd/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
