@using FrontEnd.Helpers
@using Common
@using Model.Custom
@model Model.Custom.MenuByPermissions

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img alt="Brand" src="~/Content/Images/guizzisinfondo.png" width="30px" height="30px" />
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(Resources.ApplicationName, "Index", "Home", new { Area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="navbar-collapse collapse">
            @if (Request.IsAuthenticated)
            {

                <ul class="nav navbar-nav">
                    @***********@
                    @*Administration Menú*@
                    @***********@
                    @if (MenuByPermissions.isUserAuthorized(Enums.PermissionMenuId.AdmonMenu))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown" 
                               role="button" 
                               aria-haspopup="true" 
                               aria-expanded="false">
                                @Resources.AdmonMenu
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.getMenu(Enums.PermissionMenuId.UsersMenu, null)
                                </li>
                                <li>
                                    @Html.getMenu(Enums.PermissionMenuId.RolesMenu, null)
                                </li>
                                <li>
                                    @Html.getMenu(Enums.PermissionMenuId.ExternalUserMenu, null)
                                </li>
                                <li>
                                <li class="dropdown-submenu">
                                    <a class="toggle-submenu" tabindex="1" href="#">
                                        @Resources.LocationMenu
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            @Html.getMenu(Enums.PermissionMenuId.LocationMenu, null)
                                        </li>
                                        <li>
                                            @Html.getMenu(Enums.PermissionMenuId.LocationUserMenu, null)
                                        </li>
                                    </ul>

                                </li>

</li>
                                @if (MenuByPermissions.isUserAuthorized(Enums.PermissionMenuId.CatalogsMenu))
                                {
                                    <li class="dropdown-submenu">
                                        <a class="toggle-submenu" tabindex="-1" href="#">
                                            @Resources.CatalogsMenu
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li tabindex="-1">
                                                @Html.getMenu(Enums.PermissionMenuId.PermissionMenu, null)
                                            </li>
                                            <li tabindex="-1">
                                                @Html.getMenu(Enums.PermissionMenuId.EventTypeMenu, null)
                                            </li>
                                            <li tabindex="-1">
                                                @Html.getMenu(Enums.PermissionMenuId.LocationTypeMenu, null)
                                            </li>
                                            <li tabindex="-1">
                                                @Html.getMenu(Enums.PermissionMenuId.ExternalType, null)
                                            </li>
                                            <li tabindex="-1">
                                                @Html.getMenu(Enums.PermissionMenuId.ApplicationParameters, null)
                                            </li>
                                            <li tabindex="-1">
                                                @Html.getMenu(Enums.PermissionMenuId.TagMenu, null)
                                            </li>
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                    @if (MenuByPermissions.isUserAuthorized(Enums.PermissionMenuId.ColonialMenu))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle"
                               data-toggle="dropdown" 
                               role="button" 
                               aria-haspopup="true" 
                               aria-expanded="false">
                                @Resources.ColonialMenu
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.getMenu(Enums.PermissionMenuId.EventMenu,null)
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>

</nav>
<br />