@model Model.Domain.EventType

@{
    ViewBag.Title = Resources.EventType_Create_Tile;
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationMenu.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>@Resources.EventType_Create_Tile</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Create", "EventType", FormMethod.Post, new { }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal col-xs-12 col-sm-offset-3 col-md-12">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.IsTiedToExternalUser, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(model => model.IsTiedToExternalUser, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IsTiedToExternalUser, "", new { @class = "text-danger" })
                    </div>
                </div>
                

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@Resources.Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div>
            @Html.ActionLink(Resources.BacktoList, "Index", "EventType", new { Area = "Administration" }, new { @class = "btn btn-default" })
        </div>
    </div>
</div>
