@model IEnumerable<Model.Domain.Permission>

@{ 
    Layout = "~/Areas/Administration/Views/Shared/_AdministrationMenu.cshtml";
    ViewBag.ItemToDelete = Resources.Permission;
    ViewBag.deleteTitleToDelete = String.Concat(Resources.Delete, " ", ViewBag.ItemToDelete);
    ViewBag.deleteQuestionToDelete = String.Format(Resources.Delete_AskToDelete, ViewBag.ItemToDelete);
}

<div class="panel panel-default">
    <div class="panel-heading">
        <p>
            @Html.ActionLink(Resources.Create, "Create", new { }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ResourceCode)
                </th>
                <th class="hidden-sm hidden-xs">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="hidden-sm hidden-xs">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="hidden-sm hidden-xs">
                    @Html.DisplayNameFor(model => model.Area)
                </th>
                <th class="hidden-sm hidden-xs">
                    @Html.DisplayNameFor(model => model.Action)
                </th>
                <th class="hidden-sm hidden-xs">
                    @Html.DisplayNameFor(model => model.Controller)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResourceCode)
                    </td>
                    <td class="hidden-sm hidden-xs">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="hidden-sm hidden-xs">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="hidden-sm hidden-xs">
                        @Html.DisplayFor(modelItem => item.Area)
                    </td>
                    <td class="hidden-sm hidden-xs">
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>
                    <td class="hidden-sm hidden-xs">
                        @Html.DisplayFor(modelItem => item.Controller)
                    </td>
                    <td>
                        @Html.ActionLink(Resources.Edit, "Edit", new { id = item.Id },new {@class="btn btn-default" }) |
                        <button class="btn btn-default deletePermissionButton" id="deleteBtnPermission" 
                                idDelete="@item.Id"
                                >@Resources.Delete</button>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>